body {
    font-family: 'Poppins', sans-serif;
}
  
section {
    background-color:  #1c1d24;
    height: 500px;
}

.hero {
    height: 100vh;
    color: white;
    font-size: 30px;
    background-color: #1c1d24;
}