body {
    font-family: 'Poppins', sans-serif;
}

section {
    background-color:  #1c1d24;
    height: 500px;
}

.hero { 
    height: 100vh;
    color: white;
    font-size: 30px;
    background-color: #1c1d24;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 20px;
}

ul {
    display: flex;
    list-style-type: none;
    width: 450px;
    justify-content: space-around;
    font-size: 20px;
    margin: 25px;

}

h1 {
    font-size: 40px;
    margin: 0px;
    
}  

h2 {
    font-size: 40px;
    color: #ffffff;
}

p {
    
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
}  

.subtext {
    font-size: 15px;
    font-weight: 250;
    margin-right: 77px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 150px;
}

.button {
    width: 170px;
    height: 50px;
    background-color: rgb(212, 105, 28);
    border-radius:40px;
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    padding-top: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #54535c;
}

.button:active {
    background-color: #3d3c42;
    color: #808080;
}

.socials {
    padding-bottom: 200px;
    margin-right: 10px;
}

